body {
background-color: #f2d6bb;
}

nav {
  background-color:#a6776a ;
  margin-top: -20%;


}

nav ul {
  list-style-type: none;
  text-align: center;
  margin-right: 3rem;
  margin-left: 1rem;
  padding: 0;

}

nav ul li {
  list-style-type: none;
  margin-left: 5%;
  margin-right: -2%;

}

nav ul li a {
  display: inline;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-family: 'Quicksand', sans-serif;

}
a:hover {
  background-color: #2f0909;
  color: #f2d6bb;
}
h1 {
  background-color: #f2d6bb;
  font-size: 2.75rem;
  text-align: center;
}
img{
  opacity: 0.2;
}
.body>image{
  background-color: #f2d6bb;
  margin-left: 10%;
  margin-right: 10%;
}
.body>h1{
  font-family: 'Permanent Marker', cursive;
  background-color: #f2d6bb;
  font-size: 3rem;
  text-align: center;
  margin-top: -1rem;
  position: relative;

}
.body>section{
  background-color: #f2d6bb;
  margin-top: -5%;
  height: auto;
}
.parent{
    position: relative;
}

h2 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
   margin: 0 auto;
   width: 100%;
   height: 50px;
}
