/* main css */
body {
  background-color: #f2d6bb;
}
section.main-content>h2{
  margin-top: 2rem;
}



/* Iphone 6 css */



body>h1 {
  font-family: 'Permanent Marker', cursive;
  background-color: rgba(242, 214, 187, .1);
  font-size: 1.5rem;
  text-align: center;
  position: relative;
}

body>img {
  background-color: #f2d6bb;
  filter:hue-rotate(#a6776a);
  margin-left: 10%;
  margin-right: 10%;
}


body>section {
  background-color: #f2d6bb;
  opacity: 0.5;
  margin-top: -5%;
  height: auto;
}

.parent {
  position: relative;
}

/* section>h2 {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  margin: 0 auto;
  width: 100%;
  height: 50px;
} */

body>footer {
  width: 100%;
  margin: auto;
  height: auto;
  background: #a6776a;
  overflow: auto;
  font-size: 1.5rem;
  text-align: center;
}

/* Ipod */
 nav {
  background-color: #a6776a;
  /* margin-top: -20%; */
} */

nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

nav ul li {
  list-style-type:none;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  padding-left: 1.75%;
}

 a:hover {
  background-color: #2f0909;
  color: #f2d6bb;
}
/* computer */
